<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    <!--fonts    -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
          rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        <link rel="stylesheet" href="{{ asset('css/admin.css') }}">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    {% endblock %}

</head>
<body>
<!--navbar -->
<nav class="navbar">
    <img src="{{ asset('assets/logo/LOGO.png') }}" alt="logo de yalow">

    <!--    responsive toggle btn-->
    <div id="toggleMenuBtn">
        <label class="toggle">
            <input type="checkbox" id="checkbox-toggler">
            <div>
                <div>
                    <span></span>
                    <span></span>
                </div>
                <svg>
                    <use xlink:href="#path">
                </svg>
                <svg>
                    <use xlink:href="#path">
                </svg>
            </div>
        </label>

        <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
            <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 44 44" id="path">
                <path d="M22,22 L2,22 C2,11 11,2 22,2 C33,2 42,11 42,22"></path>
            </symbol>
        </svg>
    </div>

    <!--    responsive toggle btn end-->
    <div class="nav-links" id="menu-nav-link">
        <a href="{{ path('app') }}" class="{{ app.request.get('_route') == "app" ? "active" : "" }}">Accueil</a>
        <a href="{{ path('app_blog') }}"
           class="{{ (app.request.get('_route') in ["app_blog", "app_blog_show"]) ? "active" : "" }}">Blog</a>
        <a href="{{ path('app_request_contact') }}"
           class="{{ app.request.get('_route') == "app_request_contact" ? "active" : "" }}">Contact</a>
        {% if app.user != null and ("ROLE_ADMIN" in app.user.roles) %}
            <a href="{{ path('admin') }}" target="_blank">Admin</a>
        {% endif %}
    </div>
    {% if app.user == null %}
        <div class="connexionContainer">
        <a href="{{ path('app_login') }}" class="button button-connecte" id="menu-connecte-btn">
            <p>Connexion</p>
        </a>
            <a href="{{ path('app_register') }}" class="button button-connecte" id="menu-register-btn">
            <p>S'inscrire</p>
        </a>

        </div>
    {% else %}
        <a href="{{ path('app_logout') }}" class="button button-connecte" id="menu-connecte-btn">
            <p>Déconnexion</p>
        </a>

    {% endif %}

</nav>
<!--navbar END-->
{% block body %}{% endblock %}
{{ render(controller('App\\Controller\\AppController::footer')) }}<!-- .footer -->
</body>
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    <script src="https://kit.fontawesome.com/51b0a56069.js" crossorigin="anonymous"></script>
    <script src="{{ asset('js/script.js') }}" type="application/javascript"></script>
{% endblock %}
</html>
