{% extends 'base2.html.twig' %}

{% block title %}Hello BlogContentController!{% endblock %}

{% block body %}
    <div class="containerContent">
        <div class="sidebarContent">
            <a href="{{ url }}" class="backContainer">
                <i class="fa fa-angle-left" aria-hidden="true"></i>
                <p>Retour</p>
            </a>
            {{form_start(form)}}
                {{ form_row(form.name) }}
                {{ form_row(form.category) }}
                {{ form_row(form.picture) }}
                {{ form_row(form.openComment) }}
                {{ form_row(form.isVisible) }}
                {{ form_row(form.send) }}
        </div>
        <div class="contentBlog">
                {{ form_row(form.content) }}
        </div>
            {{form_end(form)}}
    </div>
{% endblock %}
